  var config = {
    apiKey: "key",
    authDomain: "domain",
    databaseURL: "url",
    projectId: "id",
    storageBucket: "storage",
    messagingSenderId: "id"
  };

const accountSid = 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';
const authToken = 'your_auth_token';
const twiliocl = require('twilio')(accountSid, authToken);

export default config;
export default twiliocl;
